<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

-   Understand the dataset for Chicago Public School level performance
-   Store the dataset in an Db2 database on IBM Cloud instance
-   Retrieve metadata about tables and columns and query data from mixed case columns
-   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**: 

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv">link</a>.

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called **SCHOOLS**.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

In [1]:
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv

In [1]:
import ibm_db

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://fsh75730:Sajad@123456789@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: fsh75730@BLUDB'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [12]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql SELECT TABSCHEMA, TABNAME, CURRENT_TIME FROM syscat.tables \
    where TABSCHEMA = 'FSH75730';

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

AttributeError: 'DB2ExecutionContext_ibm_db' object has no attribute 'compiled_parameters'

Double-click **here** for a hint

<!--
In Db2 the system catalog table cal
led SYSCAT.TABLES contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [5]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT * FROM SYSCAT.COLUMNS WHERE TABNAME = 'SCHOOLS';

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('FSH75730', 'SCHOOLS', 'Gr_8_Explore_Math__', 46, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 208, "'9.7'", "'1.4'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Gr_8_Explore_Read__', 47, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 244, "'99'", "'1.4'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ISAT_Exceeding_Math__', 48, 'SYSIBM  ', 'DECIMAL', 5, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 297, '+0100.0', '+0000.6', 4, None, 0, 20, 10, 90, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ISAT_Exceeding_Reading__', 49, 'SYSIBM  ', 'DECIMAL', 5, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 261, '+0100.0', '+0000.5', 4, None, 0, 20, 10, 90, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ISAT_Value_Add_Math', 50, 'SYSIBM  ', 'DECIMAL', 3, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 57, '+03.6', '-03.1', 3, None, 0, 20, 10, 98, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ISAT_Value_Add_Read', 51, 'SYSIBM  ', 'DECIMAL', 3, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 60, '+04.9', '-02.8', 3, None, 0, 20, 10, 98, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ISAT_Value_Add_Color_Math', 52, 'SYSIBM  ', 'VARCHAR', 6, 0, 'OCTETS', 6, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 4, "'Red'", "'NDA'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ISAT_Value_Add_Color_Read', 53, 'SYSIBM  ', 'VARCHAR', 6, 0, 'OCTETS', 6, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 4, "'Red'", "'NDA'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Students_Taking__Algebra__', 54, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 116, "'98.5'", "'10.5'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Students_Passing__Algebra__', 55, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 94, "'93.3'", "'11.1'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', '9th Grade EXPLORE (2009)', 56, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 45, "'22.4'", "'11.6'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', '9th Grade EXPLORE (2010)', 57, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 51, "'22.2'", "'11.2'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', '10th Grade PLAN (2009)', 58, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 45, "'24.5'", "'12.9'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', '10th Grade PLAN (2010)', 59, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 49, "'24.7'", "'12.7'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Net_Change_EXPLORE_and_PLAN', 60, 'SYSIBM  ', 'VARCHAR', 3, 0, 'OCTETS', 3, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 16, "'2.3'", "'0.5'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', '11th Grade Average ACT (2011)', 61, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 53, "'28.8'", "'13.6'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Net_Change_PLAN_and_ACT', 62, 'SYSIBM  ', 'VARCHAR', 3, 0, 'OCTETS', 3, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 30, "'4.3'", "'0.3'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'College_Eligibility__', 63, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 78, "'98'", "'10.6'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Graduation_Rate__', 64, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 75, "'97.6'", "'10.3'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'College_Enrollment_Rate__', 65, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 70, "'90.7'", "'32.6'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'COLLEGE_ENROLLMENT', 66, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 444, '3320', '26', 3, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'General_Services_Route', 67, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 20, '48', '30', 3, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Freshman_on_Track_Rate__', 68, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 79, "'98.1'", "'37.1'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'X_COORDINATE', 69, 'SYSIBM  ', 'DECIMAL', 13, 3, None, None, None, 'Y', 0, None, None, ' ', ' ', 504, '+0001202756.093', '+0001121355.698', 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Y_COORDINATE', 70, 'SYSIBM  ', 'DECIMAL', 13, 3, None, None, None, 'Y', 0, None, None, ' ', ' ', 560, '+0001949501.716', '+0001817244.896', 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Latitude', 71, 'SYSIBM  ', 'DECIMAL', 18, 8, None, None, None, 'Y', 0, None, None, ' ', ' ', 472, '+0000000042.01709536', '+0000000041.65376037', 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Longitude', 72, 'SYSIBM  ', 'DECIMAL', 18, 8, None, None, None, 'Y', 0, None, None, ' ', ' ', 566, '-0000000087.53301251', '-0000000087.82933190', 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'COMMUNITY_AREA_NUMBER', 73, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 77, '76', '2', 3, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'COMMUNITY_AREA_NAME', 74, 'SYSIBM  ', 'VARCHAR', 22, 0, 'OCTETS', 22, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 77, "'WEST TOWN'", "'ARCHER HEIGHTS'", 16, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 11, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Ward', 75, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 50, '49', '2', 3, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Police_District', 76, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 23, '24', '2', 3, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Location', 77, 'SYSIBM  ', 'VARCHAR', 27, 0, 'OCTETS', 27, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 536, "'(42.01709536, -87.67779928)'", "'(41.65376037, -87.61434156)'", 32, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 27, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'School_ID', 0, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 566, '610543', '609674', 5, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'NAME_OF_SCHOOL', 1, 'SYSIBM  ', 'VARCHAR', 65, 0, 'OCTETS', 65, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 566, "'Woodlawn Community Elementary Sch'", "'Abraham Lincoln Elementary School'", 41, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 36, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Elementary, Middle, or High School', 2, 'SYSIBM  ', 'VARCHAR', 2, 0, 'OCTETS', 2, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 3, "'MS'", "'ES'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Street_Address', 3, 'SYSIBM  ', 'VARCHAR', 29, 0, 'OCTETS', 29, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 566, "'9912 S Avenue H'", "'10015 S Leavitt St'", 22, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 17, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'City', 4, 'SYSIBM  ', 'VARCHAR', 7, 0, 'OCTETS', 7, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 1, "'Chicago'", "'Chicago'", 12, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 7, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'State', 5, 'SYSIBM  ', 'VARCHAR', 2, 0, 'OCTETS', 2, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 1, "'IL'", "'IL'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'ZIP_Code', 6, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 51, '60707', '60607', 5, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Phone_Number', 7, 'SYSIBM  ', 'VARCHAR', 14, 0, 'OCTETS', 14, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 566, "'(773) 535-9930'", "'(773) 534-0146'", 19, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 14, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Link', 8, 'SYSIBM  ', 'VARCHAR', 78, 0, 'OCTETS', 78, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 2, "''", "'http://schoolreports.cps.edu/Scho'", 83, None, 0, 20, 10, 1, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 78, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Network_Manager', 9, 'SYSIBM  ', 'VARCHAR', 40, 0, 'OCTETS', 40, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 20, "'Southwest Side High School Networ'", "'Austin-North Lawndale Elementary '", 35, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 30, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Collaborative_Name', 10, 'SYSIBM  ', 'VARCHAR', 34, 0, 'OCTETS', 34, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'SOUTHWEST SIDE COLLABORATIVE'", "'NORTH-NORTHWEST SIDE COLLABORATIV'", 33, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 28, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Adequate_Yearly_Progress_Made_', 11, 'SYSIBM  ', 'VARCHAR', 3, 0, 'OCTETS', 3, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 3, "'Yes'", "'NDA'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Track_Schedule', 12, 'SYSIBM  ', 'VARCHAR', 12, 0, 'OCTETS', 12, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 3, "'Track_E'", "'Non_Standard'", 13, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 8, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'CPS_Performance_Policy_Status', 13, 'SYSIBM  ', 'VARCHAR', 16, 0, 'OCTETS', 16, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 4, "'Not on Probation'", "'Not Applicable'", 18, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 13, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'CPS_Performance_Policy_Level', 14, 'SYSIBM  ', 'VARCHAR', 15, 0, 'OCTETS', 15, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'NDA'", "'Level 2'", 12, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 7, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'HEALTHY_SCHOOL_CERTIFIED', 15, 'SYSIBM  ', 'VARCHAR', 3, 0, 'OCTETS', 3, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 2, "'Yes'", "'No'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Safety_Icon', 16, 'SYSIBM  ', 'VARCHAR', 11, 0, 'OCTETS', 11, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 6, "'Very Weak'", "'NDA'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'SAFETY_SCORE', 17, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 86, '99', '5', 3, None, 0, 20, 10, 53, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Family_Involvement_Icon', 18, 'SYSIBM  ', 'VARCHAR', 11, 0, 'OCTETS', 11, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 6, "'Very Weak'", "'NDA'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Family_Involvement_Score', 19, 'SYSIBM  ', 'VARCHAR', 3, 0, 'OCTETS', 3, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 72, "'99'", "'17'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Environment_Icon', 20, 'SYSIBM  ', 'VARCHAR', 11, 0, 'OCTETS', 11, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 6, "'Very Weak'", "'NDA'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Environment_Score', 21, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 80, '99', '2', 3, None, 0, 20, 10, 53, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('FSH75730', 'SCHOOLS', 'Instruction_Icon', 22, 'SYSIBM  ', 'VARCHAR', 11, 0, 'OCTETS', 11, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 6, "'Very Weak'", "'NDA'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),

Double-click **here** for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [6]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql SELECT DISTINCT(name), coltype, length FROM sysibm.syscolumns \
    WHERE tbname = 'SCHOOLS';

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('10th Grade PLAN (2009)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR ', 4),
 ('11th Grade Average ACT (2011)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR ', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR ', 6),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR ', 3),
 ('Average_Teacher_Attendance', 'VARCHAR ', 6),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CPS_Performance_Policy_Level', 'VARCHAR ', 15),
 ('CPS_Performance_Policy_Status', 'VARCHAR ', 16),
 ('City', 'VARCHAR ', 7),
 ('Collaborative_Name', 'VARCHAR ', 34),
 ('College_Eligibility__', 'VARCHAR ', 4),
 ('College_Enrollment_Rate__', 'VARCHAR ', 4),
 ('Elementary, Middle, or High School', 'VARCHAR ', 2),
 ('Environment_Icon', 'VARCHAR ', 11),
 ('Environment_Score', 'SMALLINT', 2),
 ('Family_Involvement_Icon', 'VARCHAR ', 11),
 ('Family_Involvement_Score', 'VARCHAR ', 3),
 ('Freshman_on_Track_Rate__', 'VARCHAR ', 4),
 ('General_Services_Route', 'SMALLINT', 2),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR ', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR ', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR ', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR ', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR ', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR ', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR ', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR ', 4),
 ('Gr_8_Explore_Math__', 'VARCHAR ', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR ', 4),
 ('Graduation_Rate__', 'VARCHAR ', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR ', 3),
 ('ISAT_Exceeding_Math__', 'DECIMAL ', 5),
 ('ISAT_Exceeding_Reading__', 'DECIMAL ', 5),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR ', 6),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR ', 6),
 ('ISAT_Value_Add_Math', 'DECIMAL ', 3),
 ('ISAT_Value_Add_Read', 'DECIMAL ', 3),
 ('Individualized_Education_Program_Compliance_Rate', 'VARCHAR ', 7),
 ('Instruction_Icon', 'VARCHAR ', 11),
 ('Instruction_Score', 'SMALLINT', 2),
 ('Latitude', 'DECIMAL ', 18),
 ('Leaders_Icon', 'VARCHAR ', 4),
 ('Leaders_Score', 'VARCHAR ', 3),
 ('Link', 'VARCHAR ', 78),
 ('Location', 'VARCHAR ', 27),
 ('Longitude', 'DECIMAL ', 18),
 ('NAME_OF_SCHOOL', 'VARCHAR ', 65),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR ', 3),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR ', 3),
 ('Network_Manager', 'VARCHAR ', 40),
 ('Parent_Engagement_Icon', 'VARCHAR ', 7),
 ('Parent_Engagement_Score', 'VARCHAR ', 3),
 ('Parent_Environment_Icon', 'VARCHAR ', 7),
 ('Parent_Environment_Score', 'VARCHAR ', 3),
 ('Phone_Number', 'VARCHAR ', 14),
 ('Pk_2_Literacy__', 'VARCHAR ', 4),
 ('Pk_2_Math__', 'VARCHAR ', 4),
 ('Police_District', 'SMALLINT', 2),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL ', 5),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('Safety_Icon', 'VARCHAR ', 11),
 ('School_ID', 'INTEGER ', 4),
 ('State', 'VARCHAR ', 2),
 ('Street_Address', 'VARCHAR ', 29),
 ('Students_Passing__Algebra__', 'VARCHAR ', 4),
 ('Students_Taking__Algebra__', 'VARCHAR ', 4),
 ('Teachers_Icon', 'VARCHAR ', 11),
 ('Teachers_Score', 'VARCHAR ', 3),
 ('Track_Schedule', 'VARCHAR ', 12),
 ('Ward', 'SMALLINT', 2),
 ('X_COORDINATE', 'DECIMAL ', 13),
 ('Y_COORDINATE', 'DECIMAL ', 13),
 ('ZIP_Code', 'INTEGER ', 4)]

Double-click **here** for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
ANS= Mixed case
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
ANS = COMUNITY_AREA_NAME
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?
ANS = YES!

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [7]:
%sql SELECT COUNT("Elementary, Middle, or High School") AS Elementary_Schools \
FROM SCHOOLS WHERE "Elementary, Middle, or High School" = 'ES';

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where school_type = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [8]:
%sql SELECT MAX(safety_score) AS Max_safety_score \
FROM SCHOOLS;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(99,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [9]:
%sql SELECT name_of_school, safety_score FROM SCHOOLS\
WHERE safety_score = (SELECT MAX(safety_score) FROM SCHOOLS);

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [7]:
%sql SELECT name_of_school, AVERAGE_STUDENT_ATTENDANCE \
FROM SCHOOLS ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC NULLS LAST\
LIMIT 10;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "-" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<from>".  SQLSTATE=42601 SQLCODE=-104
[SQL: -bar SELECT name_of_school, AVERAGE_STUDENT_ATTENDANCE  FROM SCHOOLS ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC NULLS LAST LIMIT 10;]
(Background on this error at: http://sqlalche.me/e/14/f405)

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [11]:
%sql SELECT name_of_school, AVERAGE_STUDENT_ATTENDANCE \
FROM SCHOOLS ORDER BY AVERAGE_STUDENT_ATTENDANCE NULLS LAST\
LIMIT 5;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

In [12]:
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [14]:
%sql SELECT name_of_school,REPLACE(Average_Student_Attendance,'%','')\
FROM SCHOOLS ORDER BY Average_Student_Attendance \
fetch first 5 rows only;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [9]:
%sql SELECT name_of_school,REPLACE(Average_Student_Attendance,'%','')\
AS avg_std_attd\
FROM SCHOOLS WHERE \
CAST(REPLACE(Average_Student_Attendance,'%','') AS DOUBLE) > 70\
ORDER BY Average_Student_Attendance;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Austin Polytechnical Academy High School', '70.10'),
 ('Hyde Park Academy High School', '70.50'),
 ('George H Corliss High School', '71.30'),
 ('High School of Leadership at South Shore', '72.00'),
 ('Hope College Preparatory High School', '72.20'),
 ('Frederick Stock Elementary School', '72.40'),
 ('Gage Park High School', '72.50'),
 ('William Rainey Harper High School', '73.00'),
 ('Paul Robeson High School', '73.50'),
 ('John Marshall Metropolitan High School', '74.10'),
 ('Wells Community Academy High School', '74.10'),
 ('Christian Fenger Academy High School', '74.40'),
 ('Kelvyn Park High School', '74.40'),
 ('Percy L Julian High School', '74.60'),
 ('William J Bogan High School', '75.20'),
 ('New Millennium High School of Health at Bowen', '75.60'),
 ('Austin Business and Entrepreneurship Academy High School', '76.00'),
 ('Paul Laurence Dunbar Career Academy High School', '76.90'),
 ('John Hancock College Preparatory High School', '78.20'),
 ('Edward Tilden Career Community Academy High School', '78.40'),
 ('Neal F Simeon Career Academy High School', '78.60'),
 ('Michele Clark Academic Prep Magnet High School', '79.10'),
 ('Charles P Steinmetz Academic Centre High School', '79.20'),
 ('Frederick A Douglass Academy High School', '79.20'),
 ('Wilma Rudolph Elementary Learning Center', '80.00'),
 ('Blair Early Childhood Center', '80.20'),
 ('George Washington High School', '80.20'),
 ('Near North Elementary School', '80.20'),
 ('Al Raby High School', '80.30'),
 ('Moses Montefiore Special Elementary School', '80.40'),
 ('Roald Amundsen High School', '81.10'),
 ('Carl Schurz High School', '81.20'),
 ('John M Harlan Community Academy High School', '81.20'),
 ('Roger C Sullivan High School', '81.60'),
 ('Nicholas Senn High School', '81.70'),
 ('Theodore Roosevelt High School', '82.30'),
 ('John F Kennedy High School', '83.00'),
 ('Kate S Buckingham Special Education Center', '83.40'),
 ('Benito Juarez Community Academy High School', '83.70'),
 ('Morgan Park High School', '84.20'),
 ('Edwin G Foreman High School', '84.30'),
 ('VOISE Academy High School', '84.50'),
 ('Lincoln Park High School', '84.60'),
 ('Emil G Hirsch Metropolitan High School', '84.80'),
 ('Marie Sklodowska Curie Metropolitan High School', '85.00'),
 ('Southside Occupational Academy High School', '85.50'),
 ('Charles Allen Prosser Career Academy High School', '86.00'),
 ('David G Farragut Career Academy High School', '86.10'),
 ('Walter S Christopher Elementary School', '86.10'),
 ('Ray Graham Training Center High School', '86.30'),
 ('Friedrich W von Steuben Metropolitan Science High School', '87.00'),
 ('Oliver Wendell Holmes Elementary School', '87.00'),
 ('Gwendolyn Brooks College Preparatory Academy High School', '87.10'),
 ('TEAM Englewood Community Academy High School', '87.30'),
 ('Greater Lawndale High School For Social Justice', '87.50'),
 ('Jacqueline B Vaughn Occupational High School', '87.60'),
 ('Stephen T Mather High School', '87.60'),
 ('Lake View High School', '87.70'),
 ('Arthur R Ashe Elementary School', '87.90'),
 ('Emmett Louis Till Math and Science Academy', '88.00'),
 ('Kenwood Academy High School', '88.40'),
 ('North-Grand High School', '88.60'),
 ('Uplift Community High School', '88.70'),
 ('Betsy Ross Elementary School', '88.90'),
 ('Edward Jenner Elementary Academy of the Arts', '88.90'),
 ('Jane A Neil Elementary School', '88.90'),
 ('William Howard Taft High School', '89.10'),
 ('Charles R Henderson Elementary School', '89.20'),
 ("Luke O'Toole Elementary School", '89.20'),
 ('Multicultural Academy of Scholarship', '89.20'),
 ('Edmond Burke Elementary School', '89.30'),
 ('Gurdon S Hubbard High School', '89.30'),
 ('Thomas Kelly High School', '89.30'),
 ('Songhai Elementary Learning Institute', '89.50'),
 ('Elihu Yale Elementary School', '89.70'),
 ('Northside Learning Center High School', '89.80'),
 ('Parkside Elementary Community Academy', '89.80'),
 ('Robert Emmet Elementary School', '89.80'),
 ('Enrico Fermi Elementary School', '89.90'),
 ('Florence B Price Elementary School', '90.00'),
 ('Langston Hughes Elementary School', '90.00'),
 ('Alfred David Kohn Elementary School', '90.10'),
 ('Chicago Military Academy High School', '90.30'),
 ('William K New Sullivan Elementary School', '90.30'),
 ('Mason High School', '90.40'),
 ('Anthony Overton Elementary School', '90.50'),
 ('Austin O Sexton Elementary School', '90.50'),
 ('Jackie Robinson Elementary School', '90.50'),
 ('Julia C Lathrop Elementary School', '90.50'),
 ('Brian Piccolo Elementary Specialty School', '90.60'),
 ('Ellen H Richards Career Academy High School', '90.60'),
 ('Francis Parkman Elementary School', '90.60'),
 ('Dewey Elementary Academy of Fine Arts', '90.70'),
 ('Robert H Lawrence Elementary School', '90.70'),
 ('Ronald E McNair Elementary School', '90.70'),
 ('Arthur A Libby Elementary School', '90.80'),
 ('Theodore Herzl Elementary School', '90.80'),
 ('George Washington Carver Primary School', '90.90'),
 ('Matthew A Henson Elementary School', '90.90'),
 ('Simon Guggenheim Elementary School', '90.90'),
 ('George Manierre Elementary School', '91.00'),
 ('Lawndale Elementary Community Academy', '91.00'),
 ('Irvin C Mollison Elementary School', '91.10'),
 ('Thomas A Hendricks Elementary Community Academy', '91.20'),
 ('West Pullman Elementary School', '91.20'),
 ('William W Carter Elementary School', '91.20'),
 ('Benjamin Banneker Elementary School', '91.30'),
 ('Daniel Hale Williams Prep School of Medicine', '91.30'),
 ('Jesse Owens Elementary Community Academy', '91.30'),
 ('Marine Military Math and Science Academy', '91.30'),
 ('Milton Brunson Math & Science Specialty Elementary School', '91.30'),
 ('Amos Alonzo Stagg Elementary School', '91.40'),
 ('Collins Academy High School', '91.40'),
 ('George W Tilton Elementary School', '91.40'),
 ('James R Doolittle Jr Elementary School', '91.40'),
 ('Miriam G Canter Middle School', '91.40'),
 ('Guglielmo Marconi Elementary Community Academy', '91.50'),
 ('Mildred I Lavizzo Elementary School', '91.50'),
 ('Daniel S Wentworth Elementary School', '91.60'),
 ('Elaine O Goodlow Elementary Magnet School', '91.60'),
 ('George Washington Carver Military Academy High School', '91.60'),
 ('Nathaniel Pope Elementary School', '91.60'),
 ('Williams Multiplex Elementary School', '91.60'),
 ('World Language Academy High School', '91.60'),
 ('Carrie Jacobs Bond Elementary School', '91.70'),
 ('Clara Barton Elementary School', '91.70'),
 ('William A Hinton Elementary School', '91.70'),
 ('Anna R. Langford Community Academy', '91.80'),
 ('Henry O Tanner Elementary School', '91.80'),
 ('James N Thorp Elementary School', '91.80'),
 ('Leslie Lewis Elementary School', '91.80'),
 ('Melville W Fuller Elementary School', '91.80'),
 ('William Penn Elementary School', '91.80'),
 ('Carter G Woodson South Elementary School', '91.90'),
 ('Daniel C Beard Elementary School', '91.90'),
 ('Francis Scott Key Elementary School', '91.90'),
 ('Francis W Parker Elementary Community Academy', '91.90'),
 ('Frank L Gillespie Elementary School', '91.90'),
 ('Granville T Woods Math & Science Academy Elementary School', '91.90'),
 ('Horatio May Elementary Community Academy', '91.90'),
 ('John P Altgeld Elementary School', '91.90'),
 ('Charles Kozminski Elementary Community Academy', '92.00'),
 ('Garrett A Morgan Elementary School', '92.00'),
 ('Jesse Sherwood Elementary School', '92.00'),
 ('Pablo Casals Elementary School', '92.00'),
 ('Asa Philip Randolph Elementary School', '92.10'),
 ('Avalon Park Elementary School', '92.10'),
 ('Genevieve Melody Elementary School', '92.10'),
 ('Ignance Paderewski Elementary Learning Academy', '92.10'),
 ("Isabelle C O'Keeffe Elementary School", '92.10'),
 ('Myra Bradwell Communications Arts & Sciences Elementary School', '92.10'),
 ('Perkins Bass Elementary School', '92.10'),
 ('Phobe Apperson Hearst Elementary School', '92.10'),
 ('Phoenix Military Academy High School', '92.10'),
 ('Stephen F Gale Elementary Community Academy', '92.10'),
 ('Theophilus Schmid Elementary School', '92.10'),
 ('Wendell Smith Elementary School', '92.10'),
 ('Eric Solorio Academy High School', '92.20'),
 ('Infinity Math Science and Technology High School', '92.20'),
 ('James Wadsworth Elementary School', '92.20'),
 ('Orville T Bright Elementary School', '92.20'),
 ('Bronzeville Scholastic Academy High School', '92.30'),
 ('William T Sherman Elementary School', '92.30'),
 ('John M Smyth Elementary School', '92.40'),
 ('John Whistler Elementary School', '92.40'),
 ('Paul Revere Elementary School', '92.40'),
 ('Roswell B Mason Elementary School', '92.40'),
 ('Walter Reed Elementary School', '92.40'),
 ('William H King Elementary School', '92.40'),
 ('Alexander Graham Elementary School', '92.50'),
 ('Alexander von Humboldt Elementary School', '92.50'),
 ('Claremont Academy Elementary School', '92.50'),
 ('Crown Community Academy of Fine Arts Center Elementary School', '92.50'),
 ('Dumas Technology Academy', '92.50'),
 ('Frank I Bennett Elementary School', '92.50'),
 ('Mahalia Jackson Elementary School', '92.50'),
 ('Spencer Technology Academy', '92.50'),
 ('Daniel R Cameron Elementary School', '92.60'),
 ('George Leland Elementary School', '92.60'),
 ('Horace Mann Elementary School', '92.60'),
 ('Louis Armstrong Math & Science Elementary School', '92.60'),
 ('Oliver S Westcott Elementary School', '92.60'),
 ('Alcott High School for the Humanities', '92.70'),
 ('Charles P Caldwell Academy of Math & Science Elementary School', '92.70'),
 ('Oscar DePriest Elementary School', '92.70'),
 ('Robert Lindblom Math & Science Academy High School', '92.70'),
 ('Arnold Mireles Elementary Academy', '92.80'),
 ('Charles S Brownell Elementary School', '92.80'),
 ('Chicago High School for Agricultural Sciences', '92.80'),
 ('Victor Herbert Elementary School', '92.80'),
 ('William H Brown Elementary School', '92.80'),
 ('Dr  Martin Luther King  Jr  College Prep High School', '92.90'),
 ('Edward A Bouchet Math & Science Academy Elementary School', '92.90'),
 ('Esmond Elementary School', '92.90'),
 ('Hyman G Rickover Naval Academy High School', '92.90'),
 ('Ira F Aldridge Elementary School', '92.90'),
 ('John Fiske Elementary School', '92.90'),
 ('John Hay Elementary Community Academy', '92.90'),
 ('Laura S Ward Elementary School', '92.90'),
 ('Nathan R Goldblatt Elementary School', '92.90'),
 ('Bernhard Moos Elementary School', '93.00'),
 ('John Harvard Elementary School of Excellence', '93.00'),
 ('Sir Miles Davis Magnet Elementary Academy', '93.00'),
 ('William H Ryder Math & Science Specialty Elementary School', '93.00'),
 ('Chicago Academy High School', '93.10'),
 ('Jensen Elementary Scholastic Academy', '93.10'),
 ('Marquette Elementary School', '93.10'),
 ('George B McClellan Elementary School', '93.20'),
 ('Ida B Wells Preparatory Elementary Academy', '93.20'),
 ('James Russell Lowell Elementary School', '93.20'),
 ('John D Shoop Math-Science Technical Academy Elementary School', '93.20'),
 ('Air Force Academy High School', '93.30'),
 ('Edward K Ellington Elementary School', '93.30'),
 ('Mary McLeod Bethune Elementary School', '93.30'),
 ('Michael Faraday Elementary School', '93.30'),
 ('Mount Vernon Elementary School', '93.30'),
 ('William E B Dubois Elementary School', '93.30'),
 ('Williams Preparatory Academy Middle School', '93.30'),
 ('Charles H Wacker Elementary School', '93.40'),
 ('Donald Morrill Math & Science Elementary School', '93.40'),
 ('Edward C Delano Elementary School', '93.40'),
 ('Fairfield Elementary Academy', '93.40'),
 ('Fernwood Elementary School', '93.40'),
 ('Fort Dearborn Elementary School', '93.40'),
 ('Nicholson Technology Academy', '93.40'),
 ('Northwest Middle School', '93.40'),
 ('Walter Payton College Preparatory High School', '93.40'),
 ('Francis M McKay Elementary School', '93.50'),
 ('George M Pullman Elementary School', '93.50'),
 ('John T Pirie Fine Arts & Academic Center Elementary School', '93.50'),
 ('William C Reavis Math & Science Specialty Elementary School', '93.50'),
 ('William H Prescott Elementary School', '93.50'),
 ('George Westinghouse High School', '93.60'),
 ('Morton School of Excellence', '93.60'),
 ('Paul Cuffe Math-Science Technology Academy Elementary School', '93.60'),
 ('Samuel Gompers Fine Arts Options Elementary School', '93.60'),
 ('South Shore Fine Arts Academy', '93.60'),
 ('Foster Park Elementary School', '93.70'),
 ('Ludwig Van Beethoven Elementary School', '93.70'),
 ('Richard Yates Elementary School', '93.70'),
 ('West Park Elementary Academy', '93.70'),
 ('Charles S Deneen Elementary School', '93.80'),
 ('Charles W Earle Elementary School', '93.80'),
 ('Edward White Elementary Career Academy', '93.80'),
 ('George W Curtis Elementary School', '93.80'),
 ('Harriet Beecher Stowe Elementary School', '93.80'),
 ('Helen M Hefferan Elementary School', '93.80'),
 ('John B Drake Elementary School', '93.80'),
 ('Ronald Brown Elementary Community Academy', '93.80'),
 ('William Jones College Preparatory High School', '93.80'),
 ('Charles Sumner  Math & Science Community Acad Elementary School', '93.90'),
 ('George Rogers Clark Elementary School', '93.90'),
 ('Martha Ruggles Elementary School', '93.90'),
 ('Ninos Heroes Elementary Academic Center', '93.90'),
 ('Phillip D Armour Elementary School', '93.90'),
 ('Sharon Christa McAuliffe Elementary School', '93.90'),
 ('Wendell E Green Elementary School', '93.90'),
 ('Woodlawn Community Elementary School', '93.90'),
 ('John T McCutcheon Elementary School', '94.00'),
 ('John W Cook Elementary School', '94.00'),
 ('Marcus Moziah Garvey Elementary School', '94.00'),
 ('Thurgood Marshall Middle School', '94.00'),
 ('Countee Cullen Elementary School', '94.10'),
 ('Jean D Lafayette Elementary School', '94.10'),
 ('John Foster Dulles Elementary School', '94.10'),
 ('Arna Wendell Bontemps Elementary School', '94.20'),
 ('Bret Harte Elementary School', '94.20'),
 ('Dvorak Technology Academy', '94.20'),
 ('James B Farnsworth Elementary School', '94.20'),
 ('Ogden International High School', '94.20'),
 ('Portage Park Elementary School', '94.20'),
 ('Ames Middle School', '94.30'),
 ('Ella Flagg Young Elementary School', '94.30'),
 ('Lyman Trumbull Elementary School', '94.30'),
 ('Charles Evans Hughes Elementary School', '94.40'),
 ('George F Cassell Elementary School', '94.40'),
 ('John H Hamline Elementary School', '94.40'),
 ('Mary Mapes Dodge Elementary Renaissance Academy', '94.40'),
 ('Richard J Oglesby Elementary School', '94.40'),
 ('Robert Nathaniel Dett Elementary School', '94.40'),
 ('Thomas Chalmers Specialty Elementary School', '94.40'),
 ('Nathan Hale Elementary School', '94.50'),
 ('Alfred Nobel Elementary School', '94.60'),
 ('Andrew Carnegie Elementary School', '94.60'),
 ('A.N. Pritzker School', '94.60'),
 ('Dunne Technology Academy', '94.60'),
 ('Michael M Byrne Elementary School', '94.60'),
 ('Whitney M Young Magnet High School', '94.60'),
 ('Albert R Sabin Elementary Magnet School', '94.70'),
 ('Beulah Shoesmith Elementary School', '94.70'),
 ('Daniel J Corkery Elementary School', '94.70'),
 ('Dr Jorge Prieto Math and Science', '94.70'),
 ('Frederick Funston Elementary School', '94.70'),
 ('Friedrich Ludwig Jahn Elementary School', '94.70'),
 ('James Weldon Johnson Elementary School', '94.70'),
 ('Leif Ericson Elementary Scholastic Academy', '94.70'),
 ('Lorenz Brentano Math & Science Academy Elementary School', '94.70'),
 ('National Teachers Elementary Academy', '94.70'),
 ('Rudyard Kipling Elementary School', '94.70'),
 ('Arthur Dixon Elementary School', '94.80'),
 ('Carroll-Rosenwald Specialty Elementary School', '94.80'),
 ('Daniel Webster Elementary School', '94.80'),
 ('Joshua D Kershaw Elementary School', '94.80'),
 ('Rodolfo Lozano Bilingual & International Center Elementary School', '94.80'),
 ('Thomas Hoyne Elementary School', '94.80'),
 ('Alex Haley Elementary Academy', '94.90'),
 ('Burnside Elementary Scholastic Academy', '94.90'),
 ('Charles N Holden Elementary School', '94.90'),
 ('James Madison Elementary School', '94.90'),
 ('John Greenleaf Whittier Elementary School', '94.90'),
 ('Joseph Stockton Elementary School', '94.90'),
 ('Mary E Courtenay Elementary Language Arts Center', '94.90'),
 ('Medgar Evers Elementary School', '94.90'),
 ('Park Manor Elementary School', '94.90'),
 ('Ralph H Metcalfe Elementary Community Academy', '94.90'),
 ('Ravenswood Elementary School', '94.90'),
 ('Richard J Daley Elementary Academy', '94.90'),
 ('West Ridge Elementary School', '94.90'),
 ('Willa Cather Elementary School', '94.90'),
 ('Edward Beasley Elementary Magnet Academic Center', '95.00'),
 ('Galileo Math & Science Scholastic Academy Elementary School', '95.00'),
 ('Grover Cleveland Elementary School', '95.00'),
 ('Hanson Park Elementary School', '95.00'),
 ('Hiram H Belding Elementary School', '95.00'),
 ('Jose De Diego Elementary Community Academy', '95.00'),
 ('Joseph Warren Elementary School', '95.00'),
 ('Lionel Hampton Fine & Performing Arts Elementary School', '95.00'),
 ('Louis Pasteur Elementary School', '95.00'),
 ('Oscar F Mayer Elementary School', '95.00'),
 ('Richard Henry Lee Elementary School', '95.00'),
 ('Scott Joplin Elementary School', '95.00'),
 ('Cesar E Chavez Multicultural Academic Center Elementary School', '95.10'),
 ('Douglas Taylor Elementary School', '95.10'),
 ('Edward Coles Elementary Language Academy', '95.10'),
 ('Eliza Chappell Elementary School', '95.10'),
 ('Francisco I Madero Middle School', '95.10'),
 ('Henry H Nash Elementary School', '95.10'),
 ('Henry R Clissold Elementary School', '95.10'),
 ('James Monroe Elementary School', '95.10'),
 ('John A Walsh Elementary School', '95.10'),
 ('John Barry Elementary School', '95.10'),
 ('LaSalle II Magnet Elementary School', '95.10'),
 ('Logandale Middle School', '95.10'),
 ('Marvin Camras Elementary School', '95.10'),
 ('Matthew Gallistel Elementary Language Academy', '95.10'),
 ('Nathan S Davis Elementary School', '95.10'),
 ('Patrick Henry Elementary School', '95.10'),
 ('Robert Fulton Elementary School', '95.10'),
 ('Rueben Salazar Elementary Bilingual Center', '95.10'),
 ('Rufus M Hitch Elementary School', '95.10'),
 ('Walter L Newberry Math & Science Academy Elementary School', '95.10'),
 ('William B Ogden Elementary School', '95.10'),
 ('William H Ray Elementary School', '95.10'),
 ('Crispus Attucks Elementary School', '95.20'),
 ('Elizabeth Peabody Elementary School', '95.20'),
 ('Graeme Stewart Elementary School', '95.20'),
 ('Henry Clay Elementary School', '95.20'),
 ('John Milton Gregory Elementary School', '95.20'),
 ('Joseph Kellman Corporate Community Elementary School', '95.20'),
 ('Louis A Agassiz Elementary School', '95.20'),
 ('Luther Burbank Elementary School', '95.20'),
 ('Robert L Grimes Elementary School', '95.20'),
 ('Thomas Drummond Elementary School', '95.20'),
 ('Thomas J Higgins Elementary Community Academy', '95.20'),
 ('William F Finkl Elementary School', '95.20'),
 ('Wolfgang A Mozart Elementary School', '95.20'),
 ('Alexander Hamilton Elementary School', '95.30'),
 ('Belmont-Cragin Elementary School', '95.30'),
 ('Charles G Hammond Elementary School', '95.30'),
 ('DeWitt Clinton Elementary School', '95.30'),
 ('Edward Everett Elementary School', '95.30'),
 ('John F Eberhart Elementary School', '95.30'),
 ('John W Garvy Elementary School', '95.30'),
 ('Richard Edwards Elementary School', '95.30'),
 ('South Loop Elementary School', '95.30'),
 ('William J & Charles H Mayo Elementary School', '95.30'),
 ('Ana Roque de Duprey Elementary School', '95.40'),
 ('Columbia Explorers Elementary Academy', '95.40'),
 ('Durkin Park Elementary School', '95.40'),
 ('Edward N Hurley Elementary School', '95.40'),
 ('Ernst Prussing Elementary School', '95.40'),
 ('Jacob Beidler Elementary School', '95.40'),
 ('James Hedges Elementary School', '95.40'),
 ('John H Kinzie Elementary School', '95.40'),
 ('Joseph Lovett Elementary School', '95.40'),
 ('Lyman A Budlong Elementary School', '95.40'),

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [16]:
%sql SELECT community_area_name, SUM(college_enrollment) AS college_enrolls\
FROM SCHOOLS GROUP BY community_area_name;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [18]:
%sql SELECT community_area_name, SUM(college_enrollment) AS college_enrolls\
FROM SCHOOLS GROUP BY community_area_name \
ORDER BY college_enrolls\
fetch first 5 rows only;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [19]:
%sql SELECT name_of_school ,safety_score FROM SCHOOLS\
ORDER BY safety_score\
fetch first 5 rows only;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('Emil G Hirsch Metropolitan High School', 13)]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT name_of_school, safety_score
FROM schools
ORDER BY safety_score
LIMIT 5
-->

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [29]:
%sql SELECT S.community_area_name,S.college_enrollment,C.hardship_index\
FROM SCHOOLS S,chicago_socioeconomic_data C\
WHERE S.community_area_number = C.ca AND S.college_enrollment = 4368;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('NORTH CENTER', 4368, 6.0)]

In [27]:
%sql SELECT ca,hardship_index FROM chicago_socioeconomic_data LIMIT 5;

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1.0, 39.0), (2.0, 46.0), (3.0, 20.0), (4.0, 17.0), (5.0, 6.0)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [31]:
%sql SELECT S.community_area_name,S.college_enrollment,C.hardship_index\
FROM SCHOOLS S,chicago_socioeconomic_data C\
WHERE S.community_area_number = C.ca AND S.college_enrollment = \
(SELECT MAX(college_enrollment) FROM SCHOOLS);

 * ibm_db_sa://fsh75730:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('NORTH CENTER', 4368, 6.0)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>