<a href="https://cognitiveclass.ai"><img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%203/images/IDSNlogo.png" width = 400> </a>

# From Understanding to Preparation

Estimated time needed: **20** minutes

## Objectives

After completing this lab you will be able to:

-   Understand Data 
-   Prepare Data for analysis and inference

## Introduction

In this lab, we will continue learning about the data science methodology, and focus on the **Data Understanding** and the **Data Preparation** stages.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    
1. [Recap](#0)<br>
2. [Data Understanding](#2)<br>
3. [Data Preparation](#4)<br>
</div>
<hr>

# Recap <a id="0"></a>

In Lab **From Requirements to Collection**, we learned that the data we need to answer the question developed in the business understanding stage, namely _can we automate the process of determining the cuisine of a given recipe?_, is readily available. A researcher named Yong-Yeol Ahn scraped tens of thousands of food recipes (cuisines and ingredients) from three different websites, namely:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%202/images/lab2_fig3_allrecipes.png" width=500>
<div align="center">
www.allrecipes.com
</div>
<br/><br/>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%202/images/lab2_fig4_epicurious.png" width=500>
<div align="center">
www.epicurious.com
</div>
<br/><br/>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%202/images/lab2_fig5_menupan.png" width=500>
<div align="center">
www.menupan.com
</div>
<br/><br/>

For more information on Yong-Yeol Ahn and his research, you can read his paper on [Flavor Network and the Principles of Food Pairing](http://yongyeol.com/papers/ahn-flavornet-2011.pdf?utm_email=Email&utm_source=Nurture&utm_content=000026UJ&utm_term=10006555&utm_campaign=PLACEHOLDER&utm_id=SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork-20083987).

We also collected the data and placed it on an IBM server for your convenience.

* * *

# Data Understanding <a id="2"></a>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%203/images/flowchart_data_understanding.png" width=500>

<strong>Important note:</strong> Please note that you are not expected to know how to program in python. The following code is meant to illustrate the stage of data collection, so it is totally fine if you do not understand the individual lines of code. There will be a full course in this certificate on programming in python, <a href="http://cocl.us/PY0101EN_DS0103EN_LAB3_PYTHON_edX">Python for Data Science</a>, which will teach you how to program in Python if you decide to complete this certificate.

### Using this notebook:

To run any of the following cells of code, you can type **Shift + Enter** to excute the code in a cell.

Get the version of Python installed.

In [1]:
# check Python version
!python -V

Python 3.6.13

Download the library and dependencies that we will need to run this lab.

In [1]:
import pandas as pd # import library to read data into dataframe
pd.set_option('display.max_columns', 12)
import numpy as np # import numpy library
import re # import library for regular expression

Download the data from the IBM server and read it into a _pandas_ dataframe.

In [2]:
recipes = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%202/recipes.csv")

print("Data read into dataframe!") # takes about 30 seconds

Data read into dataframe!

Show the first few rows.

In [4]:
recipes.head()

,country,almond,angelica,anise,anise_seed,apple,...,wine,wood,yam,yeast,yogurt,zucchini
0,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
1,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
2,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
3,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
4,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No

Get the dimensions of the dataframe.

In [5]:
recipes.shape

(57691, 384)

So our dataset consists of 57,691 recipes. Each row represents a recipe, and for each recipe, the corresponding cuisine is documented as well as whether 384 ingredients exist in the recipe or not, beginning with almond and ending with zucchini.

We know that a basic sushi recipe includes the ingredients:

-   rice
-   soy sauce
-   wasabi
-   some fish/vegetables

Let's check that these ingredients exist in our dataframe:

In [3]:
ingredients = list(recipes.columns.values)

print([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(rice).*")).search(ingredient)] if match])
print([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(wasabi).*")).search(ingredient)] if match])
print([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(soy).*")).search(ingredient)] if match])

['brown_rice', 'licorice', 'rice']
['wasabi']
['soy_sauce', 'soybean', 'soybean_oil']

Yes, they do!

-   rice exists as rice.
-   wasabi exists as wasabi.
-   soy exists as soy_sauce.

So maybe if a recipe contains all three ingredients: rice, wasabi, and soy_sauce, then we can confidently say that the recipe is a **Japanese** cuisine! Let's keep this in mind!

* * *

# Data Preparation <a id="4"></a>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%203/images/lab3_fig5_flowchart_data_preparation.png" width=500>

In this section, we will prepare data for the next stage in the data science methodology, which is modeling. This stage involves exploring the data further and making sure that it is in the right format for the machine learning algorithm that we selected in the analytic approach stage, which is decision trees.

First, look at the data to see if it needs cleaning.

In [4]:
recipes["country"].value_counts() # frequency table

American        40150
Mexico           1754
Italian          1715
Italy            1461
Asian            1176
                ...
Indonesia          12
Belgium            11
East-African       11
Israel              9
Bangladesh          4
Name: country, Length: 69, dtype: int64

By looking at the above table, we can make the following observations:

1.  Cuisine column is labeled as Country, which is inaccurate.
2.  Cuisine names are not consistent as not all of them start with an uppercase first letter.
3.  Some cuisines are duplicated as variation of the country name, such as Vietnam and Vietnamese.
4.  Some cuisines have very few recipes.

#### Let's fix these problems.

Fix the name of the column showing the cuisine.

In [5]:
column_names = recipes.columns.values
column_names[0] = "cuisine"
recipes.columns = column_names

recipes

,cuisine,almond,angelica,anise,anise_seed,apple,...,wine,wood,yam,yeast,yogurt,zucchini
0,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
1,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
2,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
3,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
4,Vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,Japan,No,No,No,No,No,...,No,No,No,No,No,No
57687,Japan,No,No,No,No,No,...,No,No,No,No,No,No
57688,Japan,No,No,No,No,No,...,No,No,No,No,No,No
57689,Japan,No,No,No,No,No,...,No,No,No,No,No,No
57690,Japan,No,No,No,No,No,...,No,No,No,No,No,No

Make all the cuisine names lowercase.

In [6]:
recipes["cuisine"] = recipes["cuisine"].str.lower()

Make the cuisine names consistent.

In [7]:
recipes.loc[recipes["cuisine"] == "austria", "cuisine"] = "austrian"
recipes.loc[recipes["cuisine"] == "belgium", "cuisine"] = "belgian"
recipes.loc[recipes["cuisine"] == "china", "cuisine"] = "chinese"
recipes.loc[recipes["cuisine"] == "canada", "cuisine"] = "canadian"
recipes.loc[recipes["cuisine"] == "netherlands", "cuisine"] = "dutch"
recipes.loc[recipes["cuisine"] == "france", "cuisine"] = "french"
recipes.loc[recipes["cuisine"] == "germany", "cuisine"] = "german"
recipes.loc[recipes["cuisine"] == "india", "cuisine"] = "indian"
recipes.loc[recipes["cuisine"] == "indonesia", "cuisine"] = "indonesian"
recipes.loc[recipes["cuisine"] == "iran", "cuisine"] = "iranian"
recipes.loc[recipes["cuisine"] == "italy", "cuisine"] = "italian"
recipes.loc[recipes["cuisine"] == "japan", "cuisine"] = "japanese"
recipes.loc[recipes["cuisine"] == "israel", "cuisine"] = "israeli"
recipes.loc[recipes["cuisine"] == "korea", "cuisine"] = "korean"
recipes.loc[recipes["cuisine"] == "lebanon", "cuisine"] = "lebanese"
recipes.loc[recipes["cuisine"] == "malaysia", "cuisine"] = "malaysian"
recipes.loc[recipes["cuisine"] == "mexico", "cuisine"] = "mexican"
recipes.loc[recipes["cuisine"] == "pakistan", "cuisine"] = "pakistani"
recipes.loc[recipes["cuisine"] == "philippines", "cuisine"] = "philippine"
recipes.loc[recipes["cuisine"] == "scandinavia", "cuisine"] = "scandinavian"
recipes.loc[recipes["cuisine"] == "spain", "cuisine"] = "spanish_portuguese"
recipes.loc[recipes["cuisine"] == "portugal", "cuisine"] = "spanish_portuguese"
recipes.loc[recipes["cuisine"] == "switzerland", "cuisine"] = "swiss"
recipes.loc[recipes["cuisine"] == "thailand", "cuisine"] = "thai"
recipes.loc[recipes["cuisine"] == "turkey", "cuisine"] = "turkish"
recipes.loc[recipes["cuisine"] == "vietnam", "cuisine"] = "vietnamese"
recipes.loc[recipes["cuisine"] == "uk-and-ireland", "cuisine"] = "uk-and-irish"
recipes.loc[recipes["cuisine"] == "irish", "cuisine"] = "uk-and-irish"

recipes

,cuisine,almond,angelica,anise,anise_seed,apple,...,wine,wood,yam,yeast,yogurt,zucchini
0,vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
1,vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
2,vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
3,vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
4,vietnamese,No,No,No,No,No,...,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,japanese,No,No,No,No,No,...,No,No,No,No,No,No
57687,japanese,No,No,No,No,No,...,No,No,No,No,No,No
57688,japanese,No,No,No,No,No,...,No,No,No,No,No,No
57689,japanese,No,No,No,No,No,...,No,No,No,No,No,No
57690,japanese,No,No,No,No,No,...,No,No,No,No,No,No

Remove cuisines with < 50 recipes.

In [8]:
# get list of cuisines to keep
recipes_counts = recipes["cuisine"].value_counts()
cuisines_indices = recipes_counts > 50

cuisines_to_keep = list(np.array(recipes_counts.index.values)[np.array(cuisines_indices)])

In [9]:
rows_before = recipes.shape[0] # number of rows of original dataframe
print("Number of rows of original dataframe is {}.".format(rows_before))

recipes = recipes.loc[recipes['cuisine'].isin(cuisines_to_keep)]

rows_after = recipes.shape[0] # number of rows of processed dataframe
print("Number of rows of processed dataframe is {}.".format(rows_after))

print("{} rows removed!".format(rows_before - rows_after))

Number of rows of original dataframe is 57691.
Number of rows of processed dataframe is 57394.
297 rows removed!

Convert all Yes's to 1's and the No's to 0's

In [10]:
recipes = recipes.replace(to_replace="Yes", value=1)
recipes = recipes.replace(to_replace="No", value=0)

#### Let's analyze the data a little more in order to learn the data better and note any interesting preliminary observations.

Run the following cell to get the recipes that contain **rice** _and_ **soy** _and_ **wasabi** _and_ **seaweed**.

In [11]:
recipes.head()

,cuisine,almond,angelica,anise,anise_seed,apple,...,wine,wood,yam,yeast,yogurt,zucchini
0,vietnamese,0,0,0,0,0,...,0,0,0,0,0,0
1,vietnamese,0,0,0,0,0,...,0,0,0,0,0,0
2,vietnamese,0,0,0,0,0,...,0,0,0,0,0,0
3,vietnamese,0,0,0,0,0,...,0,0,0,0,0,0
4,vietnamese,0,0,0,0,0,...,0,0,0,0,0,0

In [12]:
check_recipes = recipes.loc[
    (recipes["rice"] == 1) &
    (recipes["soy_sauce"] == 1) &
    (recipes["wasabi"] == 1) &
    (recipes["seaweed"] == 1)
]

check_recipes

,cuisine,almond,angelica,anise,anise_seed,apple,...,wine,wood,yam,yeast,yogurt,zucchini
11306,japanese,0,0,0,0,0,...,0,0,0,0,0,0
11321,japanese,0,0,0,0,0,...,1,0,0,0,0,0
11361,japanese,0,0,0,0,0,...,0,0,0,0,0,0
12171,asian,0,0,0,0,0,...,1,0,0,0,0,0
12385,asian,0,0,0,0,0,...,0,0,0,0,0,0
13010,asian,0,0,0,0,0,...,0,0,0,0,0,0
13159,asian,0,0,0,0,0,...,0,0,0,0,0,0
13513,japanese,0,0,0,0,0,...,0,0,0,0,0,0
13586,japanese,0,0,0,0,0,...,0,0,0,0,0,0
13625,east_asian,0,0,0,0,0,...,0,0,0,0,0,0
14495,east_asian,0,0,0,0,0,...,0,0,0,0,0,0

Based on the results of the above code, can we classify all recipes that contain **rice** _and_ **soy** _and_ **wasabi** _and_ **seaweed** as **Japanese** recipes? Why?

Your Answer:

No, because other recipes such as Asian and East_Asian recipes also contain these ingredients.

<details><summary>Click here for a solution</summary>

```python
   #The correct answer is:
    
    No, because other recipes such as Asian and East_Asian recipes also contain these ingredients.
```

</details>

Let's count the ingredients across all recipes.

In [13]:
# sum each column
ing = recipes.iloc[:, 1:].sum(axis=0)

In [14]:
# define each column as a pandas series
ingredient = pd.Series(ing.index.values, index = np.arange(len(ing)))
count = pd.Series(list(ing), index = np.arange(len(ing)))

# create the dataframe
ing_df = pd.DataFrame(dict(ingredient = ingredient, count = count))
ing_df = ing_df[["ingredient", "count"]]
print(ing_df.to_string())

                  ingredient  count
0                     almond   2306
1                   angelica      1
2                      anise    223
3                 anise_seed     87
4                      apple   2420
5               apple_brandy     37
6                    apricot    620
7                   armagnac     11
8                  artemisia     13
9                  artichoke    391
10                 asparagus    460
11                   avocado    660
12                     bacon   2169
13              baked_potato      9
14                      balm      3
15                    banana    989
16                    barley    266
17             bartlett_pear     23
18                     basil   3842
19                       bay   1463
20                      bean   1992
21                     beech      1
22                      beef   4902
23                beef_broth    845
24                beef_liver     10
25                      beer    307
26                      beet    233
27               bell_pepper   5979
28                  bergamot      7
29                     berry    183
30             bitter_orange     85
31                black_bean    494
32             black_currant     11
33    black_mustard_seed_oil     30
34              black_pepper   9825
35           black_raspberry      8
36         black_sesame_seed     26
37                 black_tea     44
38                blackberry    170
39         blackberry_brandy      4
40               blue_cheese    396
41                 blueberry    466
42                  bone_oil     50
43           bourbon_whiskey    156
44                    brandy    395
45                  brassica    114
46                     bread   4571
47                  broccoli    929
48                brown_rice    346
49           brussels_sprout     92
50                 buckwheat     90
51                    butter  20715
52                buttermilk   1634
53                   cabbage   1026
54   cabernet_sauvignon_wine     17
55                     cacao     35
56          camembert_cheese     12
57             cane_molasses   7741
58                   caraway    233
59                  cardamom    352
60                 carnation      3
61                     carob      7
62                    carrot   3689
63                    cashew    208
64                   cassava     19
65                   catfish     71
66               cauliflower    332
67                    caviar     28
68                   cayenne   8253
69                    celery   3625
70                celery_oil   1005
71                    cereal    204
72                 chamomile      3
73            champagne_wine    100
74                   chayote     27
75            cheddar_cheese   3027
76                    cheese   3278
77                    cherry   1082
78             cherry_brandy     32
79                   chervil     52
80                   chicken   5436
81             chicken_broth   3603
82             chicken_liver     52
83                  chickpea    402
84                   chicory    156
85           chinese_cabbage    166
86                     chive   1333
87                     cider   1132
88                  cilantro   2473
89                  cinnamon   5593
90                    citrus    167
91               citrus_peel      4
92                      clam    476
93                     clove     10
94                     cocoa   4798
95                   coconut   1801
96               coconut_oil     17
97                       cod    180
98                    coffee    719
99                    cognac     67
100            concord_grape     12
101                condiment      9
102                coriander   1647
103                     corn   4828
104               corn_flake    225
105                corn_grit    163
106           cottage_cheese    347
107                     crab    574
108                cranberry    920
109                    cream  10170
110             cream_cheese   2840
111                 cucumber   1895
112                    cumin   3274
113               cured_pork    315
114                  currant    241
115                     date    377
116                     dill   1105
117                   durian      0
118                      eel     20
119                      egg  21022
120               egg_noodle    317
121               elderberry      5
122          emmental_cheese      1
123                   endive    115
124                enokidake    106
125                   fennel    912
126                fenugreek    924
127              feta_cheese    623
128                      fig    139
129                     fish   2110
130                   flower     32
131              frankfurter     37
132                    fruit    479
133                  galanga     49
134                 gardenia      9
135                   garlic  17351
136                  gelatin   1417
137                 geranium      1
138                      gin     68
139                   ginger   4358
140              goat_cheese    260
141                    grape    346
142             grape_brandy      8
143              grape_juice    824
144               grapefruit    121
145        green_bell_pepper   2582
146                green_tea     35
147           gruyere_cheese     45
148                    guava     13
149                  haddock     31
150                      ham   1300
151                 hazelnut    284
152                  herring     10
153               holy_basil      3
154                    honey   2551
155                      hop      3
156              horseradish    396
157              huckleberry     10
158             jamaican_rum      1
159            japanese_plum     13
160                  jasmine      8
161              jasmine_tea      2
162            juniper_berry     33
163              kaffir_lime      1
164                     kale    100
165              katsuobushi     63
166                     kelp    179
167              kidney_bean    442
168                     kiwi    109
169                 kohlrabi      6
170                  kumquat     33
171                     lamb    482
172                     lard   3051
173                   laurel      2
174                 lavender     62
175                     leaf      9
176                     leek    422
177                    lemon   3043
178              lemon_juice   5065
179               lemon_peel    729
180               lemongrass    217
181                   lentil    247
182                  lettuce   1206
183                 licorice     21
184         lilac_flower_oil      1
185                lima_bean    149
186                     lime   1160
187               lime_juice   1618
188            lime_peel_oil    108
189              lingonberry      9
190                   litchi     12
191                    liver     42
192                  lobster    131
193              long_pepper      2
194                   lovage    142
195            macadamia_nut    102
196                 macaroni   3115
197                     mace    117
198                 mackerel     44
199                     malt     37
200                 mandarin    279
201            mandarin_peel     15
202                    mango    418
203              maple_syrup    478
204                 marjoram    527
205                     mate      1
206                matsutake     57
207                     meat    987
208                    melon    163
209                     milk  12869
210                 milk_fat    959
211                     mint   1012
212        mozzarella_cheese   1288
213                mung_bean     24
214           munster_cheese     27
215             muscat_grape      1
216                 mushroom   3370
217                   mussel    168
218                  mustard   4119
219                   mutton      3
220                nectarine     51
221                     nira     67
222                      nut   1255
223                   nutmeg   2506
224                      oat   1265
225                  oatmeal     61
226                  octopus     45
227                     okra    102
228                    olive   1798
229                olive_oil   9874
230                    onion  18078
231                   orange   1724
232            orange_flower     17
233             orange_juice   1726
234              orange_peel    596
235                  oregano   3180
236                     ouzo      9
237                   oyster    406
238                     palm     46
239                   papaya     57
240          parmesan_cheese   3173
241                  parsley   5550
242                  parsnip    139
243            passion_fruit     20
244                      pea   1180
245                    peach    531
246                   peanut    509
247            peanut_butter   1014
248               peanut_oil    308
249                     pear    484
250              pear_brandy     11
251                    pecan   2176
252              pelargonium      1
253                   pepper   9230
254               peppermint    142
255           peppermint_oil      8
256                  pimenta      2
257                  pimento    270
258                pineapple   1638
259                pistachio    219
260                     plum    288
261                  popcorn     97
262                  porcini    106
263                     pork   2056
264               pork_liver      5
265             pork_sausage   1369
266                port_wine     49
267                   potato   3528
268              potato_chip     65
269                    prawn     24
270             prickly_pear     20
271         provolone_cheese    168
272                  pumpkin    803
273                   quince     29
274                   radish    525
275                   raisin   1889
276                 rapeseed      3
277                raspberry    784
278                 raw_beef      2
279                red_algae      2
280                 red_bean     33
281          red_kidney_bean     59
282                 red_wine   1395
283                  rhubarb    169
284                     rice   3856
285           roasted_almond      3
286             roasted_beef    227
287         roasted_hazelnut      1
288             roasted_meat     15
289              roasted_nut      1
290           roasted_peanut    202
291            roasted_pecan      1
292             roasted_pork    124
293      roasted_sesame_seed    593
294            romano_cheese    275
295                     root    101
296         roquefort_cheese     23
297                     rose     56
298                 rosemary   1892
299                      rum    599
300                 rutabaga     34
301                rye_bread     92
302                rye_flour    131
303                  saffron    234
304                     sage    904
305                     sake    680
306                   salmon    451
307               salmon_roe     15
308                sassafras     18
309               sauerkraut    185
310                   savory    128
311                 scallion   4782
312                  scallop    300
313                sea_algae      4
314                  seaweed    215
315                     seed   1340
316               sesame_oil   1693
317              sesame_seed    778
318                  shallot   1304
319             sheep_cheese      2
320                shellfish     27
321                   sherry    706
322                 shiitake    595
323                   shrimp   1679
324                    smoke    463
325              smoked_fish      6
326            smoked_salmon    100
327           smoked_sausage    268
328              sour_cherry     50
329                sour_milk     46
330                soy_sauce   3799
331                  soybean   1195
332              soybean_oil      2
333                spearmint      6
334                   squash    572
335                    squid    238
336               star_anise    131
337                   starch   2731
338               strawberry   1080
339           strawberry_jam      1
340         strawberry_juice      2
341          sturgeon_caviar      1
342                    sumac     11
343            sunflower_oil      8
344             sweet_potato    529
345             swiss_cheese    519
346           tabasco_pepper    976
347                 tamarind   1672
348                tangerine     52
349                 tarragon    478
350                      tea    108
351                  tequila    142
352              thai_pepper    136
353                    thyme   3043
354                   tomato   9920
355             tomato_juice    176
356                  truffle     52
357                     tuna    463
358                   turkey    900
359                 turmeric   1290
360                   turnip    188
361                  vanilla   9009
362                     veal    197
363                vegetable   1703
364            vegetable_oil  11103
365                  vinegar   8060
366                   violet      5
367                   walnut   2728
368                   wasabi    135
369               watercress    150
370               watermelon    110
371                    wheat  20775
372              wheat_bread     82
373                  whiskey    148
374              white_bread    370
375               white_wine   2205
376  whole_grain_wheat_flour    731
377                     wine   1026
378                     wood     33
379                      yam     85
380                    yeast   3385
381                   yogurt   1033
382                 zucchini   1102

Now we have a dataframe of ingredients and their total counts across all recipes. Let's sort this dataframe in descending order.

In [15]:
ing_df.sort_values(["count"], ascending=False, inplace=True)
ing_df.reset_index(inplace=True, drop=True)

print(ing_df)

          ingredient  count
0                egg  21022
1              wheat  20775
2             butter  20715
3              onion  18078
4             garlic  17351
..               ...    ...
378   strawberry_jam      1
379  sturgeon_caviar      1
380      kaffir_lime      1
381            beech      1
382           durian      0

[383 rows x 2 columns]

#### What are the 3 most popular ingredients?

Your Answer:
1.Egg

2.Wheat

3.Butter

<details><summary>Click here for a solution</summary>

```python
   #1. Egg with <strong>21,025</strong> occurrences. 
# 2. Wheat with <strong>20,781</strong> occurrences. 
# 3. Butter with <strong>20,719</strong> occurrences.
```

</details>

However, note that there is a problem with the above table. There are ~40,000 American recipes in our dataset, which means that the data is biased towards American ingredients.

**Therefore**, let's compute a more objective summary of the ingredients by looking at the ingredients per cuisine.

#### Let's create a _profile_ for each cuisine.

In other words, let's try to find out what ingredients Chinese people typically use, and what is **Canadian** food for example.

In [16]:
cuisines = recipes.groupby("cuisine").mean()
cuisines.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,...,wine,wood,yam,yeast,yogurt,zucchini
cuisine,,,,,,,,,,,,,
african,0.156522,0.000000,0.000000,0.000000,0.034783,0.000000,...,0.017391,0.000000,0.008696,0.017391,0.000000,0.034783
american,0.040598,0.000025,0.003014,0.000573,0.052055,0.000623,...,0.011009,0.000672,0.001445,0.068219,0.016912,0.018630
asian,0.007544,0.000000,0.000838,0.002515,0.012573,0.000000,...,0.124895,0.000000,0.001676,0.004191,0.010897,0.011735
cajun_creole,0.000000,0.000000,0.000000,0.000000,0.006849,0.000000,...,0.191781,0.000000,0.006849,0.034247,0.006849,0.000000
canadian,0.036176,0.000000,0.000000,0.000000,0.036176,0.000000,...,0.003876,0.000000,0.001292,0.067183,0.019380,0.011628

As shown above, we have just created a dataframe where each row is a cuisine and each column (except for the first column) is an ingredient, and the row values represent the percentage of each ingredient in the corresponding cuisine.

**For example**:

-   _almond_ is present across 15.65% of all of the **African** recipes.
-   _butter_ is present across 38.11% of all of the **Canadian** recipes.

Let's print out the profile for each cuisine by displaying the top four ingredients in each cuisine.

In [17]:
num_ingredients = 4 # define number of top ingredients to print

# define a function that prints the top ingredients for each cuisine
def print_top_ingredients(row):
    print(row.name.upper())
    row_sorted = row.sort_values(ascending=False)*100
    top_ingredients = list(row_sorted.index.values)[0:num_ingredients]
    row_sorted = list(row_sorted)[0:num_ingredients]

    for ind, ingredient in enumerate(top_ingredients):
        print("%s (%d%%)" % (ingredient, row_sorted[ind]), end=' ')
    print("\n")

# apply function to cuisines dataframe
create_cuisines_profiles = cuisines.apply(print_top_ingredients, axis=1)

AFRICAN
onion (53%) olive_oil (52%) garlic (49%) cumin (42%)

AMERICAN
butter (41%) egg (40%) wheat (39%) onion (29%)

ASIAN
soy_sauce (49%) ginger (48%) garlic (47%) rice (41%)

CAJUN_CREOLE
onion (69%) cayenne (56%) garlic (48%) butter (36%)

CANADIAN
wheat (39%) butter (38%) egg (35%) onion (34%)

CARIBBEAN
onion (51%) garlic (50%) vegetable_oil (31%) black_pepper (31%)

CENTRAL_SOUTHAMERICAN
garlic (56%) onion (54%) cayenne (51%) tomato (41%)

CHINESE
soy_sauce (68%) ginger (53%) garlic (52%) scallion (48%)

EAST_ASIAN
garlic (55%) soy_sauce (50%) scallion (49%) cayenne (47%)

EASTERN-EUROPE
wheat (53%) egg (52%) butter (48%) onion (45%)

EASTERNEUROPEAN_RUSSIAN
butter (60%) egg (50%) wheat (49%) onion (38%)

ENGLISH_SCOTTISH
butter (67%) wheat (62%) egg (53%) cream (41%)

FRENCH
butter (50%) egg (44%) wheat (37%) olive_oil (27%)

GERMAN
wheat (64%) egg (60%) butter (47%) onion (34%)

GREEK
olive_oil (76%) garlic (44%) onion (36%) lemon_juice (33%)

INDIAN
cumin (60%) turmeric (50%) onion (49%) coriander (47%)

ITALIAN
olive_oil (60%) garlic (52%) tomato (39%) onion (32%)

JAPANESE
soy_sauce (56%) rice (44%) vinegar (36%) vegetable_oil (35%)

JEWISH
egg (59%) wheat (48%) butter (30%) onion (30%)

KOREAN
garlic (59%) scallion (52%) cayenne (51%) soy_sauce (49%)

MEDITERRANEAN
olive_oil (79%) garlic (50%) onion (38%) tomato (34%)

MEXICAN
cayenne (73%) onion (68%) garlic (62%) tomato (58%)

MIDDLEEASTERN
olive_oil (60%) garlic (46%) wheat (37%) lemon_juice (35%)

MOROCCAN
olive_oil (72%) cumin (54%) onion (49%) garlic (45%)

NORTH-AFRICAN
onion (55%) olive_oil (50%) cumin (48%) garlic (46%)

SCANDINAVIAN
butter (64%) wheat (57%) egg (52%) cream (28%)

SOUTH-AMERICA
onion (42%) garlic (36%) egg (34%) milk (31%)

SOUTHERN_SOULFOOD
butter (57%) wheat (48%) egg (41%) corn (29%)

SOUTHWESTERN
cayenne (81%) garlic (62%) onion (61%) cilantro (51%)

SPANISH_PORTUGUESE
olive_oil (57%) garlic (54%) onion (46%) bell_pepper (35%)

THAI
garlic (59%) fish (52%) cayenne (47%) cilantro (41%)

UK-AND-IRISH
butter (59%) wheat (58%) egg (48%) milk (33%)

VIETNAMESE
fish (73%) garlic (72%) rice (49%) cayenne (43%)

WESTERN
egg (51%) wheat (46%) butter (46%) black_pepper (36%)

At this point, we feel that we have understood the data well and the data is ready and is in the right format for modeling!

* * *

### Thank you for completing this lab!

This notebook is part of a course called _The Data Science Method_. If you accessed this notebook outside the course, you can take this course, online by clicking [here](https://cocl.us/DS0103EN-Exercise-From-Understanding-to-Preparation).

## Author

<a href="https://www.linkedin.com/in/aklson/" target="_blank">Alex Aklson</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2021-04-06        | 2.2     | Malika     | Updated dataset link               |
| 2020-09-23        | 2.1     | Lakshmi    | Fixed Typo errors                  |
| 2020-08-27        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>